body{
  background-color: hsl(0, 1%, 10%);
}
.to-do-list{
  font-family: Arial,sans-serif;
  text-align: center;
  margin-top: 100px;
  color: hsl(0, 1%, 50%);
}
h1{
  font-size:4rem;
}
button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.add-button{
  background-color: hsl(125, 47%, 54%);
}
.add-button:hover{
  background-color: hsl(125, 47%, 44%);
}
.delete-button{
  background-color: hsl(0, 100%, 50%);
}
.delete-button:hover{
  background-color: hsl(0, 100%, 40%);
}
.move-task-up-button{
  background-color: hsl(0, 1%, 36%);
}
.move-task-up-button:hover{
  background-color: hsl(0, 1%, 20%);
}
.move-task-down-button{
  background-color: hsl(0, 1%, 36%);
}
.move-task-down-button:hover{
  background-color: hsl(0, 1%, 20%);
}
input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsl(0, 1%, 20%);
  border-radius: 5px;
  color: hsl(0, 0%, 23%);
}
ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 90%);
  margin-bottom: 10px;
  border: 3px solid hsl(0, 1%, 50%);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.text{
  flex:1;
}
.delete-button, .move-task-down-button,.move-task-up-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}